body {
  font-family: "Open Sans", sans-serif;
}

.luxury .luxury__content .luxury__subtitle, .facilities-service .facilities-service__advantages .facilities-service__column .facilities-service__column-subtitle, .facilities-service .facilities-service__subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 28px;
}

.container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.header .header__left .header__logo {
  display: flex;
  align-items: start;
  gap: 10px;
}
.header .header__left .header__logo p {
  font-weight: 600;
  font-size: 16px;
}
.header .header__right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .header__right .header__menu {
  display: flex;
  gap: 40px;
}
.header .header__right .header__menu a {
  text-decoration: none;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
}
.header .header__right .header__menu a:hover {
  font-weight: 600;
}
.header .header__right .header__button {
  border: 1px solid #999999;
  border-radius: 35px;
  width: 92px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__right .header__button a {
  color: #100F2E;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
}

.best {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.best .best__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best .best__headline .best__text h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
}
.best .best__headline .best__text p {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.best .best__headline .best__data {
  align-items: flex-end;
  display: flex;
  border-radius: 20px;
  width: 500px;
  height: 252px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0px 22px 38px 0px rgba(0, 34, 19, 0.0392156863);
}
.best .best__headline .best__data .best__date, .best .best__headline .best__data .best__guests {
  background-color: #FAFAFA;
  width: 218px;
  height: 56px;
  display: flex;
  gap: 15px;
}
.best .best__headline .best__data .best__date img, .best .best__headline .best__data .best__guests img {
  width: 24px;
  height: 24px;
  padding: 15px 0;
}
.best .best__headline .best__data .best__map {
  display: flex;
  width: 480px;
  gap: 15px;
  background-color: #FAFAFA;
}
.best .best__headline .best__data .best__map img {
  width: 34px;
  height: 34px;
  padding: 12px 0;
}
.best .best__headline .best__data .best__map .best__search {
  background-color: #3771C8;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best .best__images {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  position: relative;
}
.best .best__images p {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 48px;
  bottom: 0;
  left: 180px;
}

.facilities-service {
  margin-top: 100px;
}
.facilities-service .facilities-service__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.facilities-service .facilities-service__advantages {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.facilities-service .facilities-service__advantages .facilities-service__column {
  text-align: center;
}
.facilities-service .facilities-service__advantages .facilities-service__column .facilities-service__column-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
}
.luxury {
  display: flex;
  gap: 50px;
  margin-top: 150px;
}
.luxury .luxury__content {
  margin-top: -22px;
}
.luxury .luxury__content .luxury__title {
  font-weight: 600;
  font-size: 40px;
}
.luxury .luxury__content .luxury__statistic {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.luxury .luxury__content .luxury__statistic .luxury__number {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
}
.luxury .luxury__content .luxury__button {
  margin-top: 50px;
  background-color: #3771C8;
  width: 167px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.luxury .luxury__content .luxury__button a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.companies {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */