body {
    font-family: 'Open Sans', sans-serif;
}

%substyle {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 28px;
}

.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    .header__left {
        .header__logo {
            display: flex;
            align-items: start;
            gap: 10px;
            p {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
    .header__right {
        display: flex;
        gap: 30px;
        align-items: center;
        .header__menu {
            display: flex;
            gap: 40px;
            a {
                text-decoration: none;
                color: #222222;
                font-weight: 400;
                font-size: 16px;
                &:hover {
                    font-weight: 600;
                }
            }
        }
        .header__button {
            border: 1px solid #999999;
            border-radius: 35px;
            width: 92px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: #100F2E;
                font-weight: 600;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}

.best {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .best__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .best__text {
            h1 {
                font-size: 60px;
                font-weight: 600;
                line-height: 80px;
            }
            p {
                color: #555555;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
            }
        }
        .best__data {
            align-items: flex-end;
            display: flex;
            border-radius: 20px;
            width: 500px;
            height: 252px;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 20px;
            box-shadow: 0px 22px 38px 0px #0022130A;
            .best__date,.best__guests {
                background-color: #FAFAFA;
                width: 218px;
                height: 56px;
                display: flex;
                gap: 15px;
                
                img {
                    width: 24px;
                    height: 24px;
                    padding: 15px 0;
                }
            }
            .best__map {
                display: flex;
                width: 480px;
                gap: 15px;
                background-color: #FAFAFA;
                img {
                    width: 34px;
                    height: 34px;
                    padding: 12px 0;
                }
                .best__search {
                    background-color: #3771C8;
                    width: 56px;
                    height: 56px;
                    border-radius: 8px;
                    margin-left:  auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .best__images {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        position: relative;
        p {
            position: absolute;
            color: white;
            font-weight: 600;
            font-size: 48px;
            bottom: 0;
            left: 180px;
        }
    }
}

.facilities-service {
    margin-top: 100px;
    .facilities-service__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    }
    .facilities-service__subtitle {
        @extend %substyle;
    }
    .facilities-service__advantages {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        .facilities-service__column {
            text-align: center;
            .facilities-service__column-title {
                font-weight: 400;
                font-size: 20px;
                line-height: 60px;
            }
            .facilities-service__column-subtitle {
                @extend %substyle;
            }
        }
    }
}

.luxury {
    display: flex;
    gap: 50px;
    margin-top: 150px;
    .luxury__content {
        margin-top: -22px;
        .luxury__title {
            font-weight: 600;
            font-size: 40px;
        }
        .luxury__subtitle {
            @extend %substyle;
        }
        .luxury__statistic {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            .luxury__number{
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 30px;
                line-height: 46px;
            }
        }
        .luxury__button {
            margin-top: 50px;
            background-color: #3771C8;
            width: 167px;
            height: 56px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: white;
                font-weight: 600;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}

.companies {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    align-items: center;
}

.nazmuel {
    margin-top: 100px;
    display: flex;
    .nazmuel__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F9D15C;
        width: 50%;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        .nazmuel__name {
            color: #555555;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
        }
        .nazmuel__title p {
            font-weight: 300;
            font-size: 30px;
            line-height: 36px;
            font-style: italic;
            color: #222222;
        }
    }
}

.quality {
    margin-top: 100px;
    .quality__headline {
        .quality__title {
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
        }
        .quality__subtitle {
            @extend %substyle;
            color: #555555;
        }
        .quality__stars {
            display: flex;
            gap: 50px;
            a {
                display: block;
                width: 100px;
                height: 40px;
                border: 1px solid #E8E8E8;
                border-radius: 8px;
                text-decoration: none;
                color: #555555;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .quality__start--choosen {
                border: 1px solid #000;
            }
        }
    }
    .quality__variants {
        display: flex;
        justify-content: space-between;
        .quality__column {
            border: 1px solid #E8E8E8;
            border-radius: 8px;
            margin-top: 50px;
            .quality__variants-title p{
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
            .quality__variants-subtitle p{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #555555;
            }
            .quality__variants-price {
                color: #3771C8;
                font-weight: 600;
                font-size: 24px;
                span {
                    color: #666666;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .quality__variants-details {
                background-color: #3771C8;
                width: 77px;
                height: 33px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }
}

.subscribe {
    margin-top: 150px;
    background-color: #EAECEB;
    height: 450px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    .subscribe__content {
        padding: 0 74px;
        .subscribe__title {
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            color: #222222;
        }
        .subscribe__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #555555;
        }
        .subscribe__email {
            background-color: #FFFFFF;
            border-radius: 50px;
            width: 486px;
            height: 56px;
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-weight: 400;
                font-size: 14px;
                color: #555555;
                padding: 0 40px;
            }
            .subscribe__email-button {
                background-color: #3771C8;
                width: 140px;
                height: 56px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
        }
    }
}
